@font-face {
    font-family: 'ALS Schlange';
    src: url('../assets/fonts/ALSSchlangesans.woff2') format('woff2'), url('../assets/fonts/ALSSchlangesans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ALS Schlange';
    src: url('../assets/fonts/ALSSchlangesans-Bold.woff2') format('woff2'), url('../assets/fonts/ALSSchlangesans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
